body{
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e9dce5;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: rgb(102, 14, 14);
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding-left: 8px ;
}

button:hover, a:hover {
  opacity: 0.7;
}

h2{
  text-align:center;
}
img{
  width:100%;
}
div{
  margin: 24px 0;

}